#Apps {
    background-color: aliceblue;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

#Games {
    background-color: cornflowerblue;
}

body {
    text-align: center;
    background-color: crimson;
}

img {
    width: 400px;
    
}